<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/generationbrasil/" target="_blanck"
                        class="icoFace">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/school/generationbrasil/" target="_blanck"
                        class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blanck"
                        class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    </li>

                </ul>

            </div>
        </div>


    </div>

    <div class="footer-copyright cor-rodape text-center py-3">
        <span class="text-light"> 2021 © Copyright: </span>
        <a  class="text-light" target="_blank" href="https://brazil.generation.org/">
            brasil.generation.org</a>

    </div>

</footer>