.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.cor-azul{
    background-color: #c5e5d8;
}

.botao-inicio{
    background-color:#c6a49a;
}

.botao-publi{
    background-color: #e94e76;
}

.botao-cancel{
    background-color: #3fb8af;
}